.wrapper {
  position: relative;
 
  height: 100vh;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  color: #99e6ff;
  z-index: 5;
  background-size: cover;
  background-position: center center;
  border-right: 2px solid #AAA9B0;
  text-align: center;
}
.sidebar .sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: 100%;
  overflow: hidden;
  width: 260px;
  z-index: 4;
 
}
.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar .logo {
  padding: 10px 15px;

}
.sidebar .logo p {
  float: left;
  font-size: 25px;
  margin: 10px 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}
.profile-userpic img {
  float: none;
  top: 10px;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;

}

.sidebar .nav {
  margin-top: 20px;
}
.sidebar .nav li > a {
  margin: 5px 15px;
  opacity: .86;
  border-radius: 4px;
}
.sidebar .logo,
body > .navbar-collapse .logo {
  padding: 10px 15px;

}
.sidebar .nav li:hover > a {
  background : rgba(255, 255, 255, 0.13);
  opacity: 1;
 
}
.sidebar .nav li:active > a {
  opacity: 1;
}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.sidebar .nav i {
  font-size: 28px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.sidebar .logo,
body > .navbar-collapse .logo {
  padding: 10px 15px;
  
}
.sidebar .logo ,
body > .navbar-collapse .logo  {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .logo .simple-text,
body > .navbar-collapse .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}
.sidebar .logo-tim,
body > .navbar-collapse .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}
.sidebar .logo-tim img,
body > .navbar-collapse .logo-tim img {
  width: 60px;
  height: 60px;
}
.sidebar:after, .sidebar:before,
body > .navbar-collapse:after,
body > .navbar-collapse:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.sidebar:before,
body > .navbar-collapse:before {
  opacity: .33;
  background: #000000;
}
.sidebar:after,
body > .navbar-collapse:after {
  background: #0c445d;
  background: -moz-linear-gradient(top, #0c445d 40%, #360c5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #0c445d), color-stop(100%, #360c5));
  background: -webkit-linear-gradient(top, #0c445d 40%, #360c5 100%);
  background: -o-linear-gradient(top, #0c445d 40%, #360c5 100%);
  background: -ms-linear-gradient(top, #0c445d 40%, #360c5 100%);
  background: linear-gradient(to bottom, #0c445d 40%, #360c5 100%);
  background-size: 150% 150%;
  z-index: 3;
  opacity: 1;
}



.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-panel {
    width: 100%;
  }
}